.navbar {
    width: 100%;
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    font-size: 14px;
    color: #e5e5e5;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, transparent);
    z-index: 1;
}

.navbar.scrolled {
    background: black;
    z-index: 1000;
    transition: background 0.3s ease;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navbar-left img {
    width: 90px;
}

.navbar-left ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar-left ul li {
    cursor: pointer;
}

.navbar-right {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar-right .icons  {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.navbar-right .profile {
    border-radius: 0.25rem;
    width: 2rem;
}

.navbar-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
}

.navbar .dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    border-radius: 2px;
    z-index: 1;
    padding: 0.5rem 0;
    width: 220px;
    display: none;
    font-size: 13px;
    color: #ffffffb3;
}

.dropdown-icon {
    transform: translateX(84%);
}

.dropdown-menu {
    background: #191919;
    margin-top: -0.5rem;
}

.profile-list {
    width: 100%;
    border-bottom: 1px solid #333;
    padding: 0.5rem 1.5rem 0.5rem 0;
}

.profile-list .profile-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
}

.profile-list .profile-item img {
    width: 2rem;
}

.profile-list .profile-item svg {
    width: 2rem;
    height: 1.5rem;
}

.navbar-profile:hover .dropdown,
.noti:hover .dropdown {
    display: block;
}

.navbar .navbar-profile:hover .icon {
    transform: rotateX(180deg);
    transition: rotateX 0.5s ease;
}

.link-logout {
    padding: 0.5rem 0;
    text-align: center;
}

.link-logout a {
    text-decoration: none;
    width: 100%;
    color: #ffffffb3;
}

.noti {
    position: relative;
}

.noti .dropdown {
    right: -80%;
    width: max-content;
    display: none;
}

.notification-item {
    width: 500px;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-bottom: 1px solid #333;
    font-size: 1rem;
    color: #A5A4A3;
    text-decoration: none;
}

.notification-item:hover {
    cursor: pointer;
    color: white;
    background: rgba(0, 0, 0, 0.5);
}

.noti .dropdown .dropdown-icon {
    transform: translateX(93%);
}

.notification-item img {
    height: 100px;

}
